@font-face {
    font-family: 'Neuzeit-Light';
    src: url('../fonts/Neuzeit-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neuzeit-Light.otf')  format('opentype'),
         url('../fonts/Neuzeit-Light.woff') format('woff'),
         url('../fonts/Neuzeit-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit-Bold';
    src: url('../fonts/Neuzeit-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neuzeit-Bold.otf')  format('opentype'),
         url('../fonts/Neuzeit-Bold.woff') format('woff'),
         url('../fonts/Neuzeit-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arquitecta-Light';
    src: url('../fonts/Arquitecta-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arquitecta-Light.otf')  format('opentype'),
         url('../fonts/Arquitecta-Light.woff') format('woff'),
         url('../fonts/Arquitecta-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arquitecta-Heavy';
    src: url('../fonts/Arquitecta-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arquitecta-Heavy.otf')  format('opentype'),
         url('../fonts/Arquitecta-Heavy.woff') format('woff'),
         url('../fonts/Arquitecta-Heavy.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'letrapegada';
    src:url('../fonts/letrapegada.eot?uh76iw');
    src:url('../fonts/letrapegada.eot?uh76iw#iefix') format('embedded-opentype'),
        url('../fonts/letrapegada.ttf?uh76iw') format('truetype'),
        url('../fonts/letrapegada.woff?uh76iw') format('woff'),
        url('../fonts/letrapegada.svg?uh76iw#letrapegada') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ---------------------------------------------------------------------- */

/*  1 - RESET

/* ---------------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*Disable Mobile Webkit Highlights*/
body {
/*    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

article {
    background-color: #FFFFFF;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

ul { list-style: none outside; }

ol { list-style-position: inside; }


a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: none;
    text-decoration: none;
    background: transparent;
    vertical-align: baseline;
}

a, a > * {
    text-decoration: none;
    color: #23BEE8;
}

a:hover {
    color: #8D99A3;
}

.not-ie a {
    -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}



/* ---------------------------------------------------------------------- */

/*  2 - BASIC

/* ---------------------------------------------------------------------- */


html,body {
    height:100%;
    padding:0;
    margin:0;
}


body {
    background-color: #fff;
    color: #2D2D2D;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Neuzeit-Light';
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}


/* TEXTOS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arquitecta-Heavy';
    color: #434A54;
}

p {
    font-family: 'Neuzeit-Light';
}


h1 {
    font-size: 3.75em;
    line-height: 1.2;
    /*letter-spacing: 0.1em;*/
}
h2 {
    font-size: 3em;
/*    line-height: 1.2;*/
    line-height: 1;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}
h3 {
    font-size: 2.5em;
    line-height: 1.2;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}
h4 {
    font-size: 1.75em;
    line-height: 1.2;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}
h5 {
    font-size: 1.2em;
    line-height: 1.2;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}
h6 {
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}



/* FONT STYLES */
.arquitectaLight {
    font-family: 'Arquitecta-Light';
    font-weight: normal;
}

.arquitectaHeavy {
    font-family: 'Arquitecta-Heavy';
    font-weight: normal;
}


.neuzeitLight {
    font-family: 'Neuzeit-Light';
    font-weight: normal;
}

.neuzeitBold {
    font-family: 'Neuzeit-Bold';
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

/* FONT COLOR */
.white {
    color: #FFFFFF;
}
.black {
    color: #000000;
}
.dark-grey {
    color: #434A54;
}
.medium-grey {
    color: #8D99A3;
}
.light-grey {
    color: #CCD1D9;
}
.semi-white {
    color: #FBFBFB;
}


/*ESTILOS TÃTULOS Y TEXTOS*/

.title {
    padding: 50px 0 25px 0;
}
.title h1 {
    letter-spacing: 0.1em;
    text-align: center;
}

.destacado {
    padding: 0 180px;
}
.destacado p {
    font-size: 26px;
    text-align: center;
}



/*
.title h1:after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: grey;
    display: block;
    margin: 0 auto;
}*/




/* ---------------------------------------------------------------------- */

/*  X - MENU

/* ---------------------------------------------------------------------- */



nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

nav#navigation {
    display: none;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background: #fff;
    z-index: 100;
    padding: 16px;
    color: #73797e;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
}

nav#navigation a {
    color: #434A54;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

nav#navigation a:hover {
    color: #23BEE8;
}

/*PROBLEMAS CON EL FOCUS AL HACER SCROLL*/
/*nav#navigation a:focus {
    color: #23BEE8;
}
*/
.active {
    color: #23BEE8 !important;
}

/*HOVER EFFECT*/

/*TEST*/
/*nav#navigation a.active:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #23BEE8;
    position: relative;
    margin: 0 auto;
    margin-top: 4px;
}
*/
/*nav#navigation li a:after {
    transition: all .2s ease-in-out;
    display: block;
    content: "";
    height: 2px;
    width: 20px;
    background-color: rgba(202, 114, 114, 0.59);
    position: relative;
    margin: 0 auto;
}

nav#navigation li a:hover:after {
    background-color: #ff12f4;
    transform: scaleX(2);
}*/


ul#menu-letrapegada {
    display: inline-block;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul#menu-letrapegada li {
    float: left;
    padding-right: 40px;
    text-transform: uppercase;
    font-family: 'Arquitecta-Heavy';
    font-size: 1.111em;
    line-height: 1;
    letter-spacing: 0.05em;
}

ul#menu-letrapegada li:last-child {
    padding-right: 0px;
}


.logoNav {
    float: left;
    padding: 0;
    margin: 0;
    width: 48px;
    height: 48px;
}

.logoNav .icon-logo {
    font-size: 2.65em;
    color: #23BEE8;
}


/* MENU MOBILE */

ul#menu-letrapegada {
    display: none;
}

nav#navigation {
    background-color: transparent;
    box-shadow: none;
}




.menu-mobile {
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6000;

    display: block;
}
.menu-mobile .wrapper {
/*  background-color: #15af97;*/
    height: 70px;
/*  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);*/
  /* For IE 8 */
/*
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
}
.menu-mobile #bt-menu-mobile {
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    width: 40px;
    float: right;
    margin: 20px 20px 0 0;
    position: relative;
    height: 30px;
}
.menu-mobile #bt-menu-mobile span {
    background-color: #434A54;
    display: block;
    height: 4px;
    position: absolute;
    width: 100%;
}
.menu-mobile #bt-menu-mobile span.top {
    top: 0;
}
.menu-mobile #bt-menu-mobile span.middle {
    top: 50%;
    margin-top: -2px;
}
.menu-mobile #bt-menu-mobile span.bottom {
    top: 100%;
    margin-top: -2px;
}
.menu-mobile #bt-menu-mobile.close-bt-hamburguer .middle {
    opacity: 0;
}
.menu-mobile #bt-menu-mobile.close-bt-hamburguer span.top {
    margin: -2px 0 0 -3px;
    top: 50%;
    width: 120%;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.menu-mobile #bt-menu-mobile.close-bt-hamburguer span.bottom {
    margin: -2px 0 0 -3px;
    top: 50%;
    width: 120%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.menu-mobile #bt-menu-mobile span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}


#wrapper-menu-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: green;
}

.overlay-mobile {
    position: fixed;
    min-width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
    z-index: 99;
    padding: 10%;
}

.wrapper-container {
    display: table;
    width: 100%;
    height: 100%;
}

#wrapper-mobile {
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

ul#wrapper-mobile li {
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-family: 'Arquitecta-Heavy';
    letter-spacing: 0.05em;
}

ul#wrapper-mobile li:last-child {
    padding-bottom: 0;
}

ul#wrapper-mobile li a {
    color: #434A54;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

ul#wrapper-mobile li a:hover {
    color: #23BEE8;
}

ul#wrapper-mobile li span {
    font-size: 2em;
    color: #23BEE8;
}


@media (min-width: 768px) {
    ul#menu-letrapegada {
        display: inline-block;
    }
    nav#navigation {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.05);
    }

    .menu-mobile {
        display: none;
    }
/*    .overlay-mobile {
        display: none;
    }*/
}





/*PSEUDOELEMENTS*/
/*
.title h1:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: green;
    display: block;
    margin: 0 auto;
    transform: rotate(-45deg);
}
.title h1:after {
    content: "";
    height: 2px;
    width: 50px;
    background-color: blue;
    display: block;
    margin: 0 auto;
    transform: rotate(45deg);
}
*/


.cross {
    width: 30px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.diagonal {
    width: 30px;
    height: 2px;
    background-color: #23BEE8;
    position: absolute;
}
/*.part-1 {
    transform: rotate(45deg);
}
.part-2 {
    transform: rotate(-45deg);
}*/



.title {
    opacity: 0;
}

.fadeScroll {
    opacity: 0;
}





/* ---------------------------------------------------------------------- */

/*  2 - ICONS

/* ---------------------------------------------------------------------- */

[class^="icon-"], [class*=" icon-"] {
    font-family: 'letrapegada';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e60a";
}
.icon-arrow-left:before {
    content: "\e60b";
}
.icon-fb:before {
    content: "\e601";
}
.icon-g:before {
    content: "\e602";
}
.icon-in:before {
    content: "\e603";
}
.icon-inst:before {
    content: "\e604";
}
.icon-logo:before {
    content: "\e600";
}
.icon-tw:before {
    content: "\e605";
}
.icon-be:before {
    content: "\e606";
}
.icon-dr:before {
    content: "\e607";
}
.icon-arrow-up:before {
    content: "\e60d";
}
.icon-arrow-down:before {
    content: "\e60c";
}





/* ---------------------------------------------------------------------- */

/*  X - FOOTER

/* ---------------------------------------------------------------------- */

#footer {
    background-color: #434A54;
    height: 320px;
    padding: 80px 0;
}

.logoFooter {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 60px;
}

.logoFooter .icon-logo {
    font-size: 3.4em;
    color: #CCD1D9;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.logoFooter .icon-logo:hover {
    color: #FFFFFF;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

nav#social {
    text-align: center;
    height: 40px;
    margin-top: 60px;
}

ul#socialFooter li {
    float: left;
    font-size: 2.222em;
    padding-right: 20px;
}

ul#socialFooter li:last-child {
    padding-right: 0px;
}

ul#socialFooter {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul#socialFooter li a span {
    color: #CCD1D9;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

ul#socialFooter li a span:hover, nav#socialFooter a:focus {
    color: #FFFFFF;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}






/*CROSS TITLE*/
/*.spinner-spin {
  position: relative;
  float: left;
  height: 10px;
  width: 10px;
}
.spinner-spin {
  cursor: pointer;
}
.spinner-spin > .spinner {
  height: 2px;
  width: 50px;
  background-color: #000;
}
.spinner-spin > .spinner.diagonal.part-1 {
  position: relative;
  float: left;
  margin-top: 8px;
}
.spinner-spin > .spinner.diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: -2px;
}
.spinner-spin > .diagonal.part-1.anima {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  margin-top: 10px;
}
.spinner-spin > .diagonal.part-2.anima {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  margin-top: -6px;
}
*/



.section {
  padding: 60px 0;
}

#home {
    background-image: url(../img/slider01.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 0;
}

.homeBlock {
    display: inline-block;
    margin-top: 15%;
}

.logoHome {
    width: 360px;
}



#main-wrapper {
    top: 100%;
    position: relative;
    z-index: 1;
}

#services {
    background-color: #FBFBFB;
    padding: 80px 0;
}

#portfolio {
    background-color: #CCD1D9;
    padding: 80px 0;
}

#blog {
    background-color: #FBFBFB;
    padding: 80px 0;
}

#contact {
    background-color: #CCD1D9;
    padding: 80px 0;
}




.goDown {
    position: fixed;
    width: 100%;
    height: 80px;
/*    background-color: aliceblue;*/
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.goDown .icon-arrow-down {
    font-size: 4.45em;
    color: #FFFFFF;
    opacity: 0.8;
}

.goDown .icon-arrow-down:hover {
    opacity: 1;
}





/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.goTop {
    display: inline-block;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.goTop .icon-arrow-up {
    font-size: 4.45em;
    color: #FFFFFF;
    opacity: 0.8;
}

.goTop a:hover {
    opacity: 1;
}

.goTop.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  transition: 500ms;
}
.goTop.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
    transition: 500ms;
}